.hoverBoxShadow{
    &:hover{
        bottom: 1%;
        box-shadow:0px 0px 15px rgba($dark,0.2) ;
    }
}

.hoverBgPrimary{
  &:hover{
    background-color: $primary !important;
  }
}

.hoverBgSecondary{
  &:hover{
    background-color: $secondary !important;
    color: $white !important;
  }
}

.hover-bottom-0{
    &:hover{
      .roomBlock{
        bottom: 0 !important;
      }
    }
  }

// picHover
.picHover{
  overflow:hidden;
  img{
      transition: all 0.5s ease-out;
      &:hover{
          transform:scale(1.2,1.2);
      }
  }
}