//bg-attachment-fixed
.bg-attachment-md-fixed{
  @include media-breakpoint-up(md) {
  background-attachment: fixed;
  }
}

// text-shadow
.text-shadow{
  text-shadow: 0.05em 0.08em 5px $dark;
}

.box-shadow{
  box-shadow:3px 0px 10px rgba(#5D675B,0.2) !important ;
}

// height
.h-160 {
  height: 160px;
}
.h-350{
  height: 350px;
}

//media-breakpoint-down md
@include media-breakpoint-down(md) {
  .d-md-down-none{
    display: none;
  }
}

// breakpoint
@include media-breakpoint-up(md) {
  .text-md-white{
    color: $white !important;
  }
  .h-md-640{
    height: 640px;
  }
}

@include media-breakpoint-up(lg) {
  .text-lg-white{
    color: $white !important;
  }
}




